*{
	box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0px;
}
header {
	background-color: black;
	color: whitesmoke;
	text-align: center;
	padding: 20px;
	pointer-events: none;
}
.navbar ul{
	background-color: silver;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.navbar ul a{
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 15px;
	display: block;
	text-transform: uppercase,capitalize;
}
.navbar a:hover {
	background-color: chocolate;
	cursor: pointer;
}
.navbar ul li {
	float: left;
	list-style-type: none;
}
aside {
	background-color: aquamarine;
	padding: 22px;
	text-align: left;
	float: left;
}
.box {
	background-color: black;
	color: white;
	width: 100px;
	height: 100px;
	text-align: center;
}
.product a {
	background-color: white;
	color: white;
	padding: 12px;
	margin: 12px;
	text-align: center;
	float: center;
}
.parent-element {
	background-color: black;
	color: white;
	margin: 12px;
	text-align: center;
	position: relative;
	float: center;
	display: block;
	border-radius: 24px;
	border-color: whitesmoke;
	border-style:dashed;
}